.rows {
  display: flex;
  flex-direction: row;
}

.cells {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: grey;
  color: grey;
}

.shownCells {
  border: 1px solid black;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: lightgray;
  color: black;
}